<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<springProperty scope="context" name="APP_NAME" source="spring.application.name" defaultValue="app"/>
	<springProperty scope="context" name="ELK_HOST" source="elk.host" defaultValue="elk"/>

	<appender name="LOGSTASH_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		-->
		<file>${LOG_PATH}/${APP_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_PATH}/${APP_NAME}.log.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>1000</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>
	<appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
		<appender-ref ref="LOGSTASH_FILE"/>
	</appender>

	<appender name="LOGSTASH_UDP" class="net.logstash.logback.appender.LogstashSocketAppender">
		<host>${ELK_HOST}</host>
		<!-- port is optional (default is syslog port 514) -->
		<port>5514</port>
	</appender>

	<appender name="LOGSTASH_TCP" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>${ELK_HOST}:4560</destination>
		<!-- encoder is required -->
		<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
	</appender>

	<logger name="com.example" level="DEBUG">
		<appender-ref ref="ASYNC" />
	</logger>
	<springProfile name="staging">
		<logger name="com.example" level="TRACE">
			<appender-ref ref="CONSOLE" />
		</logger>
	</springProfile>
</configuration>
